
@use "../../app/defaults.scss" as *;

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 4px;
}

h1 {
  font-size: 1.25rem;
}

h2 {
  font-size: 1rem;
}

h3 {
  font-size: 0.75rem;
}

h4 {
  font-size: 0.5rem;
}

p {
  margin: 0;
  font-size: 0.8rem;
  line-height: 1.5;
}

.container {
  color: $color-zinc-600;
  padding: 10px;
  overflow-x: hidden;
}