@use "../app/defaults.scss" as *;

.container {
  position: fixed;
  left: 7rem;
  bottom: 3.5rem;
  z-index: 25;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 0.5rem;
}