@use "../app/defaults.scss" as *;

.container {
  position: fixed;
  left: 7rem;
  bottom: 3.5rem;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 0.5rem;
}