@use "../app/defaults.scss" as *;
@use 'sass:color';

.container {
  overflow-y: auto;
  overflow-x: hidden;
  color: $color-zinc-100;
  display: flex;
  flex-direction: column;
  //justify-content: flex-end;
  gap: 10px;
  padding: 10px;
  margin-bottom: 3rem;
  mask-image: linear-gradient(180deg, transparent, black 5%);
  height: 100%;
}

.scrollbarHide {
  scrollbar-width: none;
}

.item {
  border: solid 1px color.change($color-zinc-100, $alpha: 0.2);
  border-radius: 10px;

}

.message {
  color: $color-zinc-100;
  padding: 10px;
}

.assistant {
  margin-right: 25px;
}

.user {
  margin-left: 25px;
}