@use "../app/defaults.scss" as *;
@use 'sass:color';

.container {
  overflow-y: auto;
  overflow-x: hidden;
  color: $color-zinc-100;
  display: flex;
  flex-direction: column;
  //justify-content: flex-end;
  gap: 1rem;
  padding: 10px;
  margin-bottom: 4.5rem;
  mask-image: linear-gradient(180deg, transparent, black 5%);
  height: 100%;
}

.scrollbarHide {
  scrollbar-width: none;
}
