@use "../app/defaults.scss" as *;
@use 'sass:color';

.container {
  overflow-y: auto;
  overflow-x: hidden;
  color: $color-zinc-100;
  display: flex;
  flex-direction: column;
  //justify-content: flex-end;
  gap: 10px;
  padding: 10px;
  margin-bottom: 3rem;
  mask-image: linear-gradient(180deg, transparent, black 5%);
  height: 100%;
}

.scrollbarHide {
  scrollbar-width: none;
}

.item {
  border: solid 1px color.change($color-zinc-100, $alpha: 0.2);
  border-radius: 10px;

}

.message {
  border: solid 1px color.change($color-zinc-100, $alpha: 0.2);
  border-radius: 10px;
  color: $color-zinc-100;
  padding: 10px;
}


.function {
  font-weight: 200;
  font-size: 1rem;
  color: $color-zinc-300;
  margin-top: 10px;
  margin-bottom: 10px;
}

.functionCall {
  font-weight: 400;
  color: $color-zinc-200;
  font-size: 1.2rem;
}

.functionName {
  font-weight: 400;
  color: $color-fuchsia-200;
}

.functionArg {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 2rem;
  align-self: start;
  justify-content: space-evenly;
}

.functionArgValue {
  font-weight: 400;
  color: $color-zinc-200;
}

.assistant {
  margin-right: 25px;
}

.user {
  margin-left: 25px;
}