.container {
  background-color: transparent;
  //border: solid 1px black;
  height: calc(100vh - 20px);
}

.treemap {
  background-color: transparent;
}

.item {
  user-select: none;
  cursor: pointer;
}