@use "../app/defaults.scss" as *;

.button {
  background-color:$color-fuchsia-100;
  color: $color-zinc-700;
  border: solid 1px $color-fuchsia-300;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.button:hover {
  background-color: $color-fuchsia-300;
  border-color: $color-fuchsia-600;
}