@use "../app/defaults.scss" as *;
@use 'sass:color';

.picker {
  display: none;
}

.videooverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: color.change($color-zinc-50, $alpha: 0.1);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  z-index: 25;
}

.videoimagepicker {
  display: grid;
  z-index: 50;
  place-items: center;
  height: 100vh;
  width: 100vw;
  user-select: none;
}

.videobox {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  border-radius: 0.5rem;
  background-color: #ffffff;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  min-width: 640px;
}

.header {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  width: 100%;
  align-items: center;
  justify-items: middle;
}

.mediaselect {
  display: block;
  padding: 0.5rem;
  border-radius: 0.375rem;
  border: 0px;
  outline: 2px solid $color-zinc-300;
  font-size: large;
  flex-grow: 1;
}

.mediaselect:focus {
  outline: 2px solid $color-sky-500;
}

.mediaselect:focus-visible {
  outline: 2px solid $color-sky-500;
}

.video {
  margin-top: 1rem;
}

.videoelement {
  aspect-ratio: auto;
  overflow: hidden;
  border-radius: 0.5rem;
  outline-style: none;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  max-width: 640px;
  min-height: 362px;
}