@use "../app/defaults.scss" as *;

.button {
  background-color: $color-zinc-50;
  color: $color-zinc-800;
  border: solid 8px $color-zinc-300;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.button:hover {
  background-color: $color-zinc-300;
  border-color: $color-zinc-600;
}