@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

$layout-breakpoint-small: 768px;
$layout-breakpoint-medium: 1024px;

$color-black: #000;
$color-white: #fff;
$color-zinc-50: #fafafa;
$color-zinc-100: #f4f4f5;
$color-zinc-200: #e4e4e7;
$color-zinc-300: #d4d4d8;
$color-zinc-400: #a1a1aa;
$color-zinc-500: #71717a;
$color-zinc-600: #52525b;
$color-zinc-700: #3f3f46;
$color-zinc-800: #27272a;
$color-zinc-900: #18181b;
$color-zinc-950: #09090b;
$color-red-50: #fef2f2;
$color-red-100: #fee2e2;
$color-red-200: #fecaca;
$color-red-300: #fca5a5;
$color-red-400: #f87171;
$color-red-500: #ef4444;
$color-red-600: #dc2626;
$color-red-700: #b91c1c;
$color-red-800: #991b1b;
$color-red-900: #7f1d1d;
$color-red-950: #450a0a;
$color-orange-50: #fff7ed;
$color-orange-100: #ffedd5;
$color-orange-200: #fed7aa;
$color-orange-300: #fdba74;
$color-orange-400: #fb923c;
$color-orange-500: #f97316;
$color-orange-600: #ea580c;
$color-orange-700: #c2410c;
$color-orange-800: #9a3412;
$color-orange-900: #7c2d12;
$color-orange-950: #431407;
$color-emerald-50: #ecfdf5;
$color-emerald-100: #d1fae5;
$color-emerald-200: #a7f3d0;
$color-emerald-300: #6ee7b7;
$color-emerald-400: #34d399;
$color-emerald-500: #10b981;
$color-emerald-600: #059669;
$color-emerald-700: #047857;
$color-emerald-800: #065f46;
$color-emerald-900: #064e3b;
$color-emerald-950: #022c22;
$color-sky-50: #f0f9ff;
$color-sky-100: #e0f2fe;
$color-sky-200: #bae6fd;
$color-sky-300: #7dd3fc;
$color-sky-400: #38bdf8;
$color-sky-500: #0ea5e9;
$color-sky-600: #0284c7;
$color-sky-700: #0369a1;
$color-sky-800: #075985;
$color-sky-900: #0c4a6e;
$color-sky-950: #082f49;
$color-pink-50: #fdf2f8;
$color-pink-100: #fce7f3;
$color-pink-200: #fbcfe8;
$color-pink-300: #f9a8d4;
$color-pink-400: #f472b6;
$color-pink-500: #ec4899;
$color-pink-600: #db2777;
$color-pink-700: #be185d;
$color-pink-800: #9d174d;
$color-pink-900: #831843;
$color-pink-950: #500724;
$color-rose-50: #fff1f2;
$color-rose-100: #ffe4e6;
$color-rose-200: #fecdd3;
$color-rose-300: #fda4af;
$color-rose-400: #fb7185;
$color-rose-500: #f43f5e;
$color-rose-600: #e11d48;
$color-rose-700: #be123c;
$color-rose-800: #9f1239;
$color-rose-900: #881337;
$color-rose-950: #4c0519;


$font-family-sans: "Sora",
sans-serif;

$font-family-serif: ui-serif,
    Georgia,
    Cambria,
    "Times New Roman",
    Times,
    serif;