.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url('/images/background.svg');
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 2rem;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.main {
  flex: 1;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}
