@use "../defaults.scss" as *;
@use 'sass:color';

.home {
  width: 100wv;
  height: 100vh;
  background-image: url('/images/background.jpg');
  background-color: color.change($color-zinc-800, $alpha: 0.75);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
}

.scratch {
  position: fixed;
  top: 0;
  left: 0;
  //border: solid 1px $color-fuchsia-100;
  width: calc(100vw - 0.2rem);
  height: calc(100vh - 0.2rem);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;
}

.effort {
  //border: solid 1px $color-fuchsia-100;
  width: 20rem;
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  margin-left: 2.5rem;
  //background-color: color.change($color-zinc-800, $alpha: 0.5);
}

.output {
  //border: solid 1px $color-fuchsia-200;
  width: calc(100vw - 22.5rem);
  padding-top: 6rem;
  padding-right: 2.5rem;
}

.talking {
  color: red;
}

.editor {
  max-width: 1280px;
  width: calc(100vw - 5rem);
  right: 64px;
}

.voice {
  width: 640px;
  right: 12px;
}

.tools {
  position: fixed;
  bottom: 12px;
  right: 12px;
  display: flex;
  gap: 0.5rem;
}

.textInput {
  display: block;
  padding: 0.5rem;
  border-radius: 0.375rem;
  border: 0px;
  color: $color-zinc-50;
  //border: solid 1px color.change($color-zinc-100, $alpha: 0.2);
  outline: 2px solid color.change($color-zinc-100, $alpha: 0.2);
  font-size: large;
  background-color: transparent;
  width: calc(100% - 32px);
  margin: 0px auto;
  margin-top: 16px;
  margin-bottom: 16px;
  //transition: outline-color 0.2s ease-in-out;

  &::placeholder {
    color: color.change($color-zinc-100, $alpha: 0.2);
  }
}

.mutebutton {
  position: absolute;
  left: 16px;
  bottom: 16px;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: solid 1px $color-zinc-100;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

.muted {
  background-color: $color-zinc-800;
  border: solid 1px color.change($color-zinc-100, $alpha: 0.5);
  color: $color-zinc-100;
}

.unmuted {
  background-color: $color-red-800;
  border: solid 1px color.change($color-zinc-100, $alpha: 0.5);
  color: $color-zinc-100;
}