@use "../../app/defaults.scss" as *;

.fieldset {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 0.375rem;
  border: solid 1px $color-zinc-300;
  background-color: $color-white;
  height: calc(80vh - 55px);
  overflow-y: scroll;
  scrollbar-width: thin;
}

.label {
  margin-left: 0.5rem;
  color: $color-zinc-800;
  user-select: none;
  cursor: pointer;
}