@use "../../app/defaults.scss" as *;

.function {
  font-weight: 200;
  font-size: 1rem;
  color: $color-zinc-300;
  margin-top: 10px;
  margin-bottom: 10px;
}

.functionCall {
  font-weight: 400;
  color: $color-zinc-200;
  font-size: 0.85rem;
}

.functionName {
  font-weight: 400;
  color: $color-orange-300;
}

.functionArgs {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
  align-self: start;
  justify-content: space-evenly;
  gap: 0.35rem;
  font-size: 0.75rem;
  user-select: none;
  cursor: pointer;
}

.functionArgKey {
  font-weight: 400;
  color: $color-zinc-200;
  font-size: 0.75rem;
}

.functionArgValue {
  font-weight: 400;
  color: $color-zinc-200;
  font-size: 0.75rem;
  user-select: none;
  cursor: pointer;
}