pydantic
websockets
python-dotenv
azure-identity
fastapi[standard]
azure-ai-inference
opentelemetry-instrumentation
azure-monitor-opentelemetry-exporter
opentelemetry-instrumentation-fastapi
openai[realtime]
azure-cosmos
aiohttp
./whl/prompty-0.1.2.dev0-py3-none-any.whl